.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.primary-color {
  color: #ffffff;
}

.secondary-color {
  color: #5b5e6a;
}

.success-background {
  background: #27ccc0;
}

.danger-background {
  background: #ff2f5a;
}
