.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.primary-color {
  color: #ffffff;
}

.secondary-color {
  color: #5b5e6a;
}

.success-background {
  background: #27ccc0;
}

.danger-background {
  background: #ff2f5a;
}

.header-items-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-input {
  flex: 3;
}

.header-button {
  flex: 1;
}
